# See: https://ascribe.axvr.uk
*  text=auto  final-newline  expand-tab  tab-stop=2  trim-trailing-whitespace  eol=lf
bass/*          vim-filetype=bass  linguist-language=Clojure
bass/bass.lock  vim-filetype=json  linguist-language=JSON
